doctype html
html(ng-app="pieApp")
  head
    title= title
    //styles
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700|Poiret+One|Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //scripts
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
    script(src='/javascripts/app.js' type='text/javascript')
    base(href='/')
  body
    header
      div(class="clearfix" ng-contoller="navCtrl")
        //h1= title
        ul.nav
          li.nav-left
            h1= title
          //li.nav-left(ng-hide="Order.phone")
          //  a(href="/login") Login
          //li.nav-left(ng-show="Order.phone")
          //  a(ng-click="logout()" href="#") Logout
          //li.nav-left(ng-show="Order.phone")
          //  a(href="/admin") Admin
          //li.nav-left(ng-show="Order.phone")
          //  p Hello {{order.firstName}}!
          //li(ng-hide="user.email")
          //  a(href="/login") Login
          //li(ng-show="user.email")
          //  a(ng-click="logout()" href="#") Logout
          //li(ng-show="user.email")
          //  a(href="/admin") Admin
          //li(ng-show="user.email")
          //  p Hello {{user.firstName}}!
          li.nav-right
            a(href="/order") Order
          li.nav-right
            a(href="/") Pies


    block content

    footer
      div(class="clearfix")
        ul.footer
          li.footer-left(id="copyright") &copy; 2015 NoCoast Pie Co.
          li.footer-right
            a(href="http://www.nocoastpie.com/") Web
          li.footer-right
            a(href="https://instagram.com/nocoast_pie/") Instagram
          li.footer-right
            a(href="https://www.facebook.com/nocoastpie") Facebook