<div ng-controller="adminCtrl">
    <h3>You've got orders to fill!</h3>
    <button id="submit-button" ng-click="updateList()">Update List</button>

    <table class="log">
        <tr>
            <th>
                <a href="" ng-click="order('lastName')">Name</a>
                <span class="sortorder" ng-show="predicate ==='lastName'" ng-class="{reverse:reverse}"></span>
            </th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Contact Method</th>
            <th>Order</th>
            <th>
                <a href="" ng-click="order('pickup')">Pickup Date</a>
                <span class="sortorder" ng-show="predicate === 'pickup'" ng-class="{reverse:reverse}"></span>
            </th>
            <th>
                <a href="" ng-click="order('created_at')">Order Submitted</a>
                <span class="sortorder" ng-show="predicate === 'created_at'" ng-class="{reverse:reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="item in items | orderBy:predicate:reverse">
            <td>{{item.firstName + " " + item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.contactMethod}}</td>
            <td>{{item.pie}}</td>
            <td>{{item.pickup}}</td>
            <td>{{item.created_at}}</td>
        </tr>
    </table>

</div>