<h3 class="pie">Apple Pie</h3>
<div class="description">
    <p>Classic double crust apple pie, lightly spiced with cinnamon and allspice.</p>
</div>
<div class="pricing">
    <h4>Pricing: </h4>
    <ul>
        <li><strong>$24.00</strong>  9 inch (serves 4-8)</li>
        <li><strong>$9.00</strong>  6 inch (serves 2-4)</li>
    </ul>
</div>
<div class="pairing">
    <h4>Perfect pairings: </h4>
    <ul>
        <li>Mug of Coffee Porter</li>
        <li>Glass of fizzy Moscato d'Asti</li>
    </ul>
</div>