 <div class="grid-container">
    <div class="grid-33 mobile-grid-100">
        <figure class="slice">
            <image src="/images/slice-apple.png" alt="Chocolate Chess Pie Slice" width="250"></image>
        </figure>
    </div>
    <div class="grid-66 mobile-grid-100">
        <div class="form-group">
            <h3 class="pie">Chocolate Chess Pie</h3>
            <div class="flavor-content" id="description">
                <p>Brownie or truffle-like filling in a single crust pie shell. A customer favorite!</p>
            </div>
            <div class="flavor-content" id="pricing">
                <h4>Pricing: </h4>
                <ul>
                    <li><strong>$22.00</strong>  9 inch (serves 4-8)</li>
                    <li><strong>$8.50</strong>  6 inch (serves 2-4)</li>
                </ul>
            </div>
            <div class="flavor-content" id="pairing">
                <h4>Perfect pairings: </h4>
                <ul>
                    <li>Two fingers of Bourbon</li>
                    <li><a href="http://dangerousmanbrewing.com/">Dangerous Man</a> Peanut Butter Porter</li>
                </ul>
            </div>
        </div>
    </div>
</div>
