<h3 class="pie">Cranberry Chess Pie</h3>
<div class="description">
    <p>Buttermilk based filling with cranberries and orange zest.</p>
</div>
<div class="pricing">
    <h4>Pricing: </h4>
    <ul>
        <li><strong>$22.00</strong>  9 inch (serves 4-8)</li>
        <li><strong>$8.50</strong>  6 inch (serves 2-4)</li>
    </ul>
</div>
<div class="pairing">
    <h4>Perfect pairings: </h4>
    <ul>
        <li>Glass of sparkly Prosecco</li>
        <li>Mug of Apricot Ale</li>
    </ul>
</div>

<image src="/images/slice-apple.png" width="300"></image>