<div class="flavor-container">
    <div class="grid-container">
        <div class="grid-40 mobile-grid-100">
            <figure class="slice">
                <image src="/images/whole-cran.jpg" alt="Cranberry Chess Pie Slice"></image>
            </figure>
        </div>

        <div class="grid-60 mobile-grid-100">
            <div class="form-group">
                <h3 class="pie">Cranberry Chess Pie</h3>
                <div class="flavor-content" id="description">
                    <p>Autumnal version of a classic fruit pie. Buttermilk based filling with cranberries and orange zest. Chess pie is a Southern style similar to a custard, but firmer with a bit of cornmeal.</p>
                </div>
                <div class="flavor-content" id="pricing">
                    <h4>Pricing: </h4>
                    <ul>
                        <li><strong>$22.00</strong>  9 inch (serves 4-8)</li>
                        <li><strong>$8.50</strong>  6 inch (serves 2-4)</li>
                    </ul>
                </div>
                <div class="flavor-content" id="pairing">
                    <h4>Perfect pairings: </h4>
                    <ul>
                        <li>Sparkly Prosecco</li>
                        <li>Apricot Ale</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>