<div class="flavor-container">
    <div class="grid-container">
        <div class="grid-33 mobile-grid-100">
            <figure class="slice">
                <image src="/images/slice-apple.png" alt="Pear Apple Cranberry Pie Slice" width="250"></image>
            </figure>
        </div>
        <div class="grid-66 mobile-grid-100">
            <div class="form-group">
                <h3 class="pie">Pear Apple Cranberry Pie</h3>
                <div class="flavor-content" id="description">
                    <p>Sweet-tart fruit filling with a walnut crumb topping.</p>
                </div>
                <div class="flavor-content" id="pricing">
                    <h4>Pricing: </h4>
                    <ul>
                        <li><strong>$24.00</strong>  9 inch (serves 4-8)</li>
                        <li><strong>$9.00</strong>  6 inch (serves 2-4)</li>
                    </ul>
                </div>
                <div class="flavor-content" id="pairing">
                    <h4>Perfect pairings: </h4>
                    <ul>
                        <li>Glass of sparkly Prosecco</li>
                        <li>Mug of Apricot Ale</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>