<div class="flavor-container">
    <div class="grid-container">
        <div class="grid-40 mobile-grid-100">
            <figure class="slice">
                <image src="/images/whole-pecan.jpg" alt="Pecan Rum Maple Pie Slice"></image>
            </figure>
        </div>
        <div class="grid-60 mobile-grid-100" id="flavor-group">
            <h3 class="pie">Pecan Rum Maple Pie</h3>
            <div class="flavor-content" id="description">
                <p>Our take on a pecan pie, with real maple syrup and <a href="http://www.norsemandistillery.com/">Norseman Distillery</a> whiskey-barrel aged rum.</p>
            </div>
            <div class="flavor-content" id="pricing">
                <h4>Pricing: </h4>
                <ul>
                    <li><strong>$24.00</strong>  9 inch (serves 4-8)</li>
                    <li><strong>$9.00</strong>  6 inch (serves 2-4)</li>
                </ul>
            </div>
            <div class="flavor-content" id="pairing">
                <h4>Perfect pairings: </h4>
                <ul>
                    <li>Cup of good coffee</li>
                    <li>Mug of Creamy Stout</li>
                </ul>
            </div>
        </div>
    </div>
</div>