<div class="flavor-container">
    <div class="grid-container">
        <div class="grid-33 mobile-grid-100">
            <figure class="slice">
                <image src="/images/slice-apple.png" alt="Pumpkin Pie Slice" width="250"></image>
            </figure>
        </div>
        <div class="grid-66 mobile-grid-100">
            <div class="form-group">
                <h3 class="pie">Pumpkin Pie</h3>
                <div class="flavor-content" id="description">
                    <p>Traditional single crust pumpkin pie. Some things are just too good to change.</p>
                </div>
                <div class="flavor-content" id="pricing">
                    <h4>Pricing: </h4>
                    <ul>
                        <li><strong>$21.00</strong>  9 inch (serves 4-8)</li>
                        <li><strong>$8.00</strong>  6 inch (serves 2-4)</li>
                    </ul>
                </div>
                <div class="flavor-content" id="pairing">
                    <h4>Perfect pairings: </h4>
                    <ul>
                        <li>Glass of Port</li>
                        <li>Mug of Milk Stout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>